
.footer{
        position:absolute;
        z-index: 2;
        bottom: 2px;
        color: white;
        padding: 8px 28px 8px 8px;
        display:flex;
        align-items: flex-end;
        background: rgb(0,0,0);
        width: 100%;
background: linear-gradient(0deg, rgba(0,0,0,0.7147452731092436) 7%, rgba(255,255,255,0) 44%);
}

.footer h5{
        margin: 0;
        font-size: 14px;
}

.footer p{
        margin: 0;
        font-size: 12px;
        padding-top: 4px;
}
.textWrapper{
        width:100%;
        max-width: 270px;
        padding-left: 16px;
}
.albumWrapper{
        min-width: 30px;

}
.albumDisk{
 animation: rotate 3s infinite linear;
 background-image: url('/assets/icons/album.svg');
 width: 42px;
 height: 42px;
 background-size: contain;
 background-repeat: no-repeat;
 display: flex;
 align-items: center;
 justify-items: center;
}

@keyframes rotate{
        from{
        transform: rotate(0deg);
        }
        to{
        transform: rotate(360deg);
        }
}

.albumImage{
        border-radius: 40px;
        width: 24px;
        height: 24px;
        object-fit: cover;
        margin: auto;
}
.songTicker{
        padding-top: 8px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 12px;
}
.musicIcon{
background-image: url('/assets/icons/musicIcon.png');
width: 8px;
height: 8px;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
}
.songTitle{
        font-size: 13px;
}