.App{
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main{
  height: 60vh;
  aspect-ratio: 9/16;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}