@font-face{
  font-family: 'TikTokFont';
  src: '/assets/TikTokFont-Regular.woff2';
  format: 'woff2';
  font-weight: 400;
}

body{
  margin: 0;
  font-family: 'TikTokFont', Arial, Tahoma, PingFangSC, 'sans-serif', 'Segoe UI Emoji', 'Noto Emoji';
  -webkit-font-smoothing: antialiased;
  -webkite-osx-font-smoothing: grayscale;
}



html{
  box-sizing: border-box;
}

*,*:before, *:after{
  box-sizing: border-box;
}